@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.formclass {
    display:grid;
    justify-content: center;
    margin-top: 16px;
}

.prof{
    background-color:rgb(0, 0, 80);
    width: 68px;
    border: 2px solid rgb(255, 255, 255);
}
.kartprof{
    background-color: rgb(0, 0, 80);
    width: 94%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.card-bod{
    background-color:rgb(61, 91, 156);
    color: white;
    margin: 2%;
    width: 96%;
}
.selector {
    width: 100%;
    margin-bottom:8px;
}

.kartimg {
    width:90%;
}

.panel {
    margin:8px !important
} 
.mat-expansion-panel-body {
    margin:8px;
    padding-left:0px;
    padding-right:0px;
} 