@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.formclass {
    display:grid;
    justify-content: center;
}

.trackimg {
    height:170px;
    width:auto;/*maintain aspect ratio*/
}
.prof{
    background-color:rgb(80, 0, 80);
    width: 68px;
    border: 2px solid rgb(255, 255, 255);
}
.kartprof{
    background-color: rgb(80, 0, 80);
    width: 94%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.card-bod{
    background-color:rgb(156, 61, 156);
    color: white;
    margin: 2%;
    width: 96%;
}
.selector {
    width: 100%;
    margin: 8px;
}

.kartimg {
    width:90%;
}