<div class="formclass">
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Number of Players</mat-label>
      <mat-select class="selector" selected="numOfPlayers" [(value)]="numOfPlayers">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <button mat-raised-button style="float:right" color="secondary" (click)="create()">Randomize</button>
</div>


<div *ngIf="generatedChars.length != 0">



  <mat-accordion>
    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Players
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="card-bod" *ngFor="let char of generatedChars">
          <mat-card-header>
            Player {{generatedChars.indexOf(char)+1}}
          </mat-card-header>
          <mat-card-content>
            {{char.character}} <br />
            <div class="prof">
              <img [src]="char.char_img">
            </div>

            {{char.kart}} <br />
            <div class="kartprof">
              <img class="kartimg" [src]="char.kart_img">
            </div>

          </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
    
        
    
  </mat-accordion>

</div>

<div *ngIf="generatedTracks.length != 0">
  <mat-card class="card-bod" *ngFor="let track of generatedTracks">
    <mat-card-header>
      Course {{generatedTracks.indexOf(track)+1}}
    </mat-card-header>
    <mat-card-content>
      {{track.track}} <br />
      <img class="trackimg" [src]="track.image">
    </mat-card-content>
  </mat-card>
</div>